/* L'élément racine du html => <html> */
:root {
    --img-height: 233px;
    --img-width: 150px;
    --img-scale: .5;
    --cards-per-row: 3;
}

/* Toutes les balises */
* {
    /* bordures de la boîte */
    border: 0;
    /* Mode de dimensionnement sur la boîte de bordure */
    box-sizing: border-box;
    /* marge extérieure de la boîte */
    margin: 0;
    /* bordure superposée qui apparaît en "focus" */
    outline: 0;
    /* marge intérieure de la boîte */
    padding: 0;
}

/* Tous les <button> */
button {
    /* Couleur de fond (zone du contenu + padding) */
    background-color: transparent;
}

/* Tous les <body> */
body {
    /* Couleur du texte */
    color: rgb(142, 9, 219);
    /* Couleur de fond */
    background-color: #1f0815;
    /* Type de police du texte */
    font-family: "Press Start 2P", system-ui;
    /* Taille du texte */
    font-size: 20px;
}

/* Tous les <h1> */
h1 {
    font-family: "Rubik Distressed", system-ui;
    font-weight: 400;
}

/* Tous les <header> */
header {
    /* Gére la disposition des "enfants-flex" perpendiculairement au "fil" */
    align-items: center;
    /* Activer le système flexbox sur <header> qui devient "parent-flex" */
    display: flex;
    /* Gére l'orientation du "fil" */
    flex-direction: column;
    /* Gére la gouttière (espace de séparation) entre les "enfants flex" */
    gap: 10px;
    padding: 20px;
}

/* Bouton avec la classe "btn" */
.btn {
    background: rgb(142, 9, 229);
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 3px;
    padding: 7px 10px 10px 10px;
}

/* lorsqu'on maintient le doigt ou le clic sur le bouton */
.btn:active{
    background: rgb(70, 4, 108);
    border-color: rgba(255, 255, 255, .6);
}

main {
    /* valeurs: haut droite (bas = haut) (gauche = droite) */
    padding: 0 20px;
}

/* Tous éléments qui sont directement dans <element class="score"> */
.scores > * {
    /* Gére l'alignement vertical d'un élément inline par rapport au texte aux inlines voisins */
    vertical-align: middle;
}

/* LE <element id="current-score"> */
#current-score {
    color: rgb(142, 9, 219);
    /*
        "em" = 1 cadratin (taille du carractère d'imprimerie)
        C'est un multiplicateur de la dernière taille en pixels donnée au texte
    */
    font-size: 2em;
}

#deck {
    display: flex;
    /* Active le retour à la ligne des enfants flex */
    flex-wrap: wrap;
    gap: 20px;
    margin-right: auto;
    margin-left: auto;
    /* Perspective des transformations */
    /* Distance en pixel entre le point d'origine (point de fuite) et l'oeil de l'observateur supposé*/
    perspective: 800px;
    /* position du point de fuite par rapport à #deck */
    perspective-origin: 50% 30%;
    width: calc(
        ( 20px * ( var(--cards-per-row) - 1 ) ) /* Nombre gaps */
        + ( 2px * 2 * var(--cards-per-row) ) /* Total des borders */
        + ( var(--img-width) * var(--img-scale) * var(--cards-per-row) ) /* Total des images */
    );
}

/* -- Cartes -- */
.card {
    /* bordures */
    border: 2px solid rgb(142, 9, 219);
    /* coins arrondis */
    border-radius: 3px;
    position: relative;
    /* animation de changement de carte*/
    transition: transform .2s ease-in;
}

    .card.flipped {
        /* applique une tranformation visuelle qui n'affecte pas les éléments alentours */
        transform: rotateY(.5turn);
    }

/* Version alternative : Tous les éléments dont l'attibut "class" commence par "card-"
[class^="card-"] 
*/
/* Tous les <div> enfants directs de <element class="card"> */
.card > div {
    /* hauteur fixe */
    height: calc( var(--img-height) * var(--img-scale) );
    /* largeur fixe */
    width: calc( var(--img-width) * var(--img-scale));
    background-size: calc( var(--img-width) * var(--img-scale)) calc( var(--img-height) * var(--img-scale) );
}

.card-back {
    background: #008000 url('img/back.webp') center center no-repeat;
    /* Changement du statut de positionnement */
    position: relative;
    /* Ordre du calque de positionnement (1 = derrière, plus = devant) */
    z-index: 2;
}

.card-img {
    background: #008000 center center no-repeat;
    /* Espace entre bord gauche de l'élément et celui de son élément de référence */
    left: 0;
    
    position: absolute;
    /* Espace entre bord gauche de l'élément et celui de son élément de référence */
    top: 0;
    transform: rotateY(.5turn);
    transition: z-index .2s ease-in;
    z-index: 1;
}

    .card.flipped .card-img {
        z-index: 3;
    }


/* -- Responsive -- */
/* - Écrans à partir de 992px de large (desktop) - */
@media (min-width: 992px) {
    :root {
        --img-scale: .9;
        --cards-per-row: 6;
    }
}

/* - Écrans à partir de 1400px de large (desktop XXL) - */
@media (min-width: 1440px) {
    :root {
        --img-scale: 1;
        --cards-per-row: 8;
    }
}
